/* Corpo da página */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #f0f0f0; /* Fundo claro */
  color: #333333; /* Texto escuro */
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #1d1d1d;
  color: white;
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  position: relative;
}

.menu-icon {
  font-size: 26px;
  cursor: pointer;
  margin-right: 15px;
}

.titulo {
  flex: 1;
}

/* Carrossel */
.carousel {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  max-width: 900px;
  padding: 30px 20px 20px 20px;
  scroll-padding-left: 20px;
  box-sizing: border-box;
  gap: 25px;
  margin: auto;
  scroll-behavior: smooth;
}

.card {
  scroll-snap-align: start;
  flex: 0 0 75%; /* Cada card ocupará 75% da largura visível */
  background: #ffffff; /* Cards brancos */
  padding: 20px;
  padding-top: 0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.card h2 {
  font-size: 20px; /* Tamanho do título ajustado */
  margin-top: 0; /* Remove o espaçamento superior */
  margin-bottom: 10px;
  color: #333333; /* Cor escura para o título */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card h2 i {
  font-size: 24px; /* Tamanho do ícone */
}

.time-display,
.stats,
.total-questoes {
  margin-top: auto;
  font-size: 18px;
  font-weight: bold;
  color: #444444; /* Texto de contraste suave */
}

/* Estilo das barrinhas de progresso */
.bar-container {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.bar {
  width: 40%;
  height: 12px;
  border-radius: 6px;
}

.acertos-bar {
  background-color: #4caf50; /* Barrinha verde para acertos */
}

.erros-bar {
  background-color: #f44336; /* Barrinha vermelha para erros */
}

@media (min-width: 700px) {
  .carousel {
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
    gap: 20px;
  }

  .card {
    flex: 0 0 45%;
  }
}
