body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #141414;
  color: #bdbdbd;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #1d1d1d;
  color: white;
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  position: relative;
}

.menu-icon {
  font-size: 26px;
  cursor: pointer;
  margin-right: 15px;
}

.titulo {
  flex: 1;
}

/* Seletor de intervalo de datas */
.date-selector {
  padding: 20px;
  text-align: center;
  background-color: #1d1d1d;
  border-bottom: 2px solid #2a2a2a;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.calendar-icon {
  cursor: pointer;
  font-size: 24px;
  color: #ffffff;
  transition: color 0.3s;
}

.calendar-icon:hover {
  color: #bdbdbd;
}

/* Menu de seleção de data */
.date-options {
  display: none;
  padding: 15px;
  background-color: #1d1d1d;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 10;
  width: 250px;
}

.date-options button {
  width: 100%;
  padding: 10px;
  background-color: #3a3a3a;
  color: white;
  border: none;
  border-radius: 6px;
  margin-bottom: 10px;
  cursor: pointer;
}

.date-options button:hover {
  background-color: #616161;
}

.reset-button {
  width: 100%;
  padding: 10px;
  color: #f44336;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
  text-align: center;
}

.reset-button:hover {
  color: #d32f2f;
}

/* Carrossel */
.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  max-width: 900px;
  padding: 30px 20px 20px 20px;
  scroll
  
